header {
    padding: 20px 0;
}

.box-title {
    width: 940px;
    display: inline-flex;
    margin: 0 200px;
    font-size: 3rem;
    font-weight: bold;
    color: #0A3871;
}

.container {
    position: relative;
    display: flex;
    width: 90%;
    height: 800px;
    margin: 0 auto;
    zoom: 75%;
    border-radius: 50px;
    background: rgba(232, 235, 247, 0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}

.frame-1 {
    width: 70%;
    height: 100%;
}

.frame-1 textarea {
    width: 80%;
    height: 288px;
    border-color: #0A3871;
    border-radius: 5px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: none;
    margin: 100px 0 0 120px;
    padding: 20px;
}

.text-warming {
    width: 80%;
    margin: 10px 0 0 120px;
}

.text-warming h5::before {
    content: url("../imgen/bi_exclamation-circle-fill.svg");
    position: relative;
    margin-right: 10px;

}

.frame-2 {
    width: 30%;
    height: 100%;
}

.resultado {
    position: relative;
    display: flex;
    width: 75%;
    height: 85%;
    border-radius: 50px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: rgba(214, 220, 245, 0.9);
    margin: 30px 0;
    padding: 25px;
    box-shadow: 0px 20px 32px -10px rgba(0, 0, 0, 0.08);
}

.frame-3 {
    width: 85%;
    margin: 10px 0 0 120px;
}

.btn-encriptar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #0a4081;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 0 0 0 8%;
}

.btn-desencriptar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background: #D8DFE8;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    border: 1px solid #0A3871;
    margin: 0 0 0 5%;
}

.btn-encriptar:hover {
    background: #436185;
    transform: scale(1.2);
}

.btn-desencriptar:hover {
    background: rgb(180, 178, 178);
    transform: scale(1.2);
}

.imagen-busqueda img {
    position: absolute;
    margin: 150px auto;
    background-size: cover;
    background: rgba(214, 220, 245, 0.9);
}

.mensaje-uno {
    margin: 450px 0 0 5px;
    width: 336px;
    height: 48px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.mensaje-dos {
    margin: 50px 0 0 5px;
    width: 336px;
    height: 48px;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

footer {
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 15px;
    margin: 20px;
}