body {
    background-color: rgb(235, 226, 214);
}

.box-title {
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    margin: 0 200px;
    font-size: 3rem;
    font-weight: bold;
    color: #0A3871;
}

.container {
    /* width: 100vw; */
    min-height: 60vh;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.entrada-mensaje {
    border: 2px solid rgb(145, 255, 0);
    width: 60vw;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
}

.entrada-mensaje .mensaje-contenedor {
    width: 80%;
    border: 2px solid blue;
    border-radius: 2em;
}

.entrada-mensaje .mensaje-contenedor textarea {
    width: 100%;
    resize: none;
    background: transparent;
    font-size: 2em;
    border: none;

}

.entrada-mensaje .mensaje-contenedor textarea:focus {
    outline: none;
}

.entrada-mensaje .btn {
    gap: 1em;
    flex-direction: column;
    padding-top: 1em;
}

.entrada-mensaje .btns {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    gap: 2em;
}


input {
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;

}

.btn-encriptar {
    color: white;
    background: #0a4081;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.btn-desencriptar,
.btn-copiar {
    color: black;
    background: #D8DFE8;
    border: none;
    transition: 1s all;
    cursor: pointer;
    border: 1px solid #0A3871;
}

.btn-copiar {
    width: 70%;
}

.btn-encriptar:hover {
    background: #436185;
    transform: scale(1.2);
}

.btn-desencriptar:hover {
    background: rgb(180, 178, 178);
    transform: scale(1.2);
}

.btn-copiar:hover {
    background: rgb(180, 178, 178);
    transform: scale(1.2);
}

.resultado-mensaje {
    width: 30vw;
    min-height: 10vh;
    border-width: 2px;
    display: flex;
    border-style: solid;
    border-color: green;
    
}

.resultado-mensaje .resultado {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0em 0em 2em 0.1em #00000051;
    gap: 2em;
}

.resultado-no-encontrado{
    text-align: center;
    padding: 1em;

}

.resultado-mensaje .resultado .resultado-no-encontrado img{
    width: 100%;
    
}

.resultado .mensaje-no-encontrado, 
.resultado .mensaje-encontrado{
    padding: 2em;
} 

.mensaje-uno, .mensaje-tres{
    font-family: 'Courier New';
    font-style: normal;
    font-size: 22px;
    color: #343A40;
    align-self: stretch;
    margin: 0.5em;
}

.mensaje-dos {
    font-family: 'Courier New';
    font-style: normal;
    font-size: 14px;
    color: #495057;
    align-self: stretch;
}

.resultado-encontrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-warming {
    width: 80%;
    
    /* margin: 10px 0 0 120px; */
}

.text-warming h5::before {
    content: url("../imgen/bi_exclamation-circle-fill.svg");
    position: relative;
    margin-right: 10px;

}

footer {
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 15px;
    margin: 20px;
}